{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Class List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'LW/style1.css' %}">
</head>
<body>
    <div class="class-list-container">
        {% for classes in classes %}
            <div class="class-card">
                <img src="{% static 'LW/class' %}{{ classes.id }}.png" class="card-img-top" alt="{{ classes.name }}">
                    {% comment %} <div class="card-body"> {% endcomment %}
                {% comment %} <img src="{% static 'LW/class{{ classes.id }}.png' %}" alt="{{ classes.name }}"> {% endcomment %}
                <h2>{{ classes.name }}</h2>
                <a href="{% url 'LW:subject_list' classes.id %}" class="button">View Subjects</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>

{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Class Lists</title>
    <link rel="stylesheet" type="text/css" href="{% static 'LW/style1.css' %}">
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Class List</h1>
        <div class="d-flex flex-wrap">
            {% for classes in classes %}
                <div class="card m-2" style="width: 18rem;">
                    <img src="{% static 'LW/class' %}{{ classes.id }}.png" class="card-img-top" alt="{{ classes.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ classes.name }}</h5>
                        <a href="{% url 'LW:subject_list' classes.id %}" class="btn btn-primary">View Subjects</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>


{% comment %} {% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Class List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'LW/style1.css' %}">
</head>
<body>
    <div class="class-list-container">
        {% for classes in classes %}
            <div class="class-card">
                <img src="{% static 'LW/classes{{ classes.id }}.png' %}" alt="{{ classes.name }}">
                <h2>{{ classes.name }}</h2>
                <a href="{% url 'LW:subject_list' classes.id %}" class="button">View Subjects</a>
            </div>
        {% endfor %}
    </div>
</body>
</html> {% endcomment %} 
