{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Subject List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'LW/style1.css' %}">
</head>
<body>
    {% block content %}
    <div class="subject-list-container">
        {% for subject in subjects %}
            <div class="subject-card">
                <h2>{{ subject.name }}</h2>
                <a href="{% url 'LW:topic_list' subject.id %}" class="button">View Topics</a>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>
