


/* Apply background color to the entire body */
body {
    background-color: #FFF0E5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.topic-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Adjust the width as needed */
    margin: auto; /* Center horizontally */
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
    
.topic-content {
    text-align: justify;
    padding: 20px;
    flex: 1; /* Allow content to expand vertically */
}

.topic-content h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

/* .topic-content p {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 10px;
} */

.topic-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
}

.topic-detail img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 
.topic-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.topic-detail-container-fluid {
    background-color:  #FFF0E5;

}
.pdf-link {
    margin-top: 20px;
}

.pdf-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.pdf-link a i {
    margin-right: 10px;
}
.exercises-section {
    margin-top: 30px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.exercises-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
    
    