{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Class List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'LW/style1.css' %}">
</head>

<body>
    {% block content %}
    <div class="class-list-container">
        {% for classes in classes %}
            <div class="class-card">
                <img src="{% static 'LW/class' %}{{ classes.id }}.png" class="card-img-top" alt="{{ classes.name }}">
                <h2>{{ classes.name }}</h2>
                <a href="{% url 'LW:subject_list' classes.id %}" class="button">View Subjects</a>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>


